@using LadyColtSoccer.Models;
@model LadyColtSoccer.Models.FormSubmission

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>
        Cloverleaf Girls Soccer
    </h1>
    <h2>
        Boston Market Tickets
    </h2>
    <p class="lead">
        If you are interested in purchasing tickets for the Boston Market team dinner, please fill out the form below and we will contact you shortly!
    </p>
</div>
<div class="container col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    @using (Html.BeginForm("FormSubmit", "Home", new {@class = "form"}))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new {@class = "form-control", id = "name", placeholder = "Name"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.NumberOfTickets)
            @Html.DropDownListFor(x => x.NumberOfTickets, Html.GetEnumSelectList(typeof (NumberOfTickets)), new {@class = "form-control", id = "numberOfTickets"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ContactChoice)
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(x => x.ContactChoice, "phone", new {id = "contactChoice1"})
                    Phone
                </label>
            </div>
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(x => x.ContactChoice, "email", new {id = "contactChoice2"})
                    Email
                </label>
            </div>
        </div>
        <div class="form-group phoneNumber">
            @Html.LabelFor(x => x.PhoneNumber)
            @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control", @type = "tel", id = "phoneNumber", placeholder = "Phone Number"})
        </div>
        <div class="form-group emailAddress">
            @Html.LabelFor(x => x.EmailAddress)
            @Html.TextBoxFor(x => x.EmailAddress, new {@class = "form-control", @type = "email", id = "email", placeholder = "Email Address"})
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.AdditionalInformation)
            @Html.TextAreaFor(x => x.AdditionalInformation, new {rows = 6, @class = "form-control", id = "additionalInformation", placeholder = "Input additional information here"})
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LcU0wsTAAAAAMunuvFVTGfL7Zm6RO_xfM4qCnLh"></div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>